.postList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  list-style: none;

  .post {
    .imageContainer {
      width: 200px;

      > div {
        position: unset !important;
      }

      .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }
    }

    .postTitle {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .postContent {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}
