* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #121416;
  color: #e5e5e6;
  font-family: "rubik", sans-serif;
  min-height: 100vh;

  .children {
    padding: 5rem 20px 5rem 20px;
    margin-bottom: 80px;
  }
}
