.posts {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  overflow: scroll;

  a {
    text-decoration: none;
    color: inherit;
  }

  .post {
    margin-right: 20px;
    background: #151517;
    border-radius: 10px;
    border: 2px solid #1b1b1d;

    .post_info {
      padding: 10px;
      text-align: center;
    }
  }
}

.post_image {
  img {
    object-fit: cover;
  }
}

.users {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .user {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 400px;
    }

    margin-bottom: 20px;
    background: #151517;
    border-radius: 10px;
    border: 2px solid #1b1b1d;
    display: flex;
    flex-direction: row;

    .user_info {
      padding: 10px;
      text-align: center;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 20px;
    }
  }
}

.title {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 80px;
  }
}
